body{
margin-right:0;
padding:10px;
font-family:Arial, Helvetica, sans-serif;
min-width:400px;

}


input{
border:1px solid #5f9341;
padding:10px 10px 10px 10px ;
width:100%;
box-sizing:border-box;
margin-bottom:4px;
}

button{
border:1px solid #5f9341;
padding:10px 10px 10px 10px ;
color:white;
font-weight:bold;
background:#5f9341;
}

ul{
margin-top:20px;
list-style:none;
padding-left:0;

}

li{
padding-bottom:5px;

}


li  a{
color:#5f9341;
}

#delete-btn{
background:white;
color:#5f9341;
}
